<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ .Description }}">
	<title>{{ .Title }}</title>
	<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<base href="{{ .Site.BaseURL }}">
	<link href="{{ .Site.BaseURL }}css/style.min.css" rel="stylesheet">
</head>
<body>
<header class="site-header">
	<div class="container">
		<h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
		<p class="lead blog-description">{{ .Site.Params.SubTitle }}</p>
	</div>
</header>
<nav class="main-nav">
	<div class="container">
		<ul class="main-menu">
			<li><a href="{{ .Site.BaseURL }}/categories/读书/" title="">读书</a></li>
			<li><a href="{{ .Site.BaseURL }}/categories/健康/" title="">健康</a></li>
			<li><a href="{{ .Site.BaseURL }}/categories/电影/" title="">电影</a></li>
			<li><a href="{{ .Site.BaseURL }}/categories/教育/" title="">教育</a></li>
			<li><a href="{{ .Site.BaseURL }}/categories/感悟/" title="">感悟</a></li>
			<li><a href="{{ .Site.BaseURL }}/links/" title="他山之石">友邻</a></li>
			<li><a href="{{ .Site.BaseURL }}/about/" title="我是谁？">关于</a></li>
		</ul>
	</div>
</nav>
