<div class="post-meta group">
              <p class="post-category">
              {{ range .Params.categories }}
              <a href="/categories/{{ . | urlize }}/" title="All posts in {{ . }}" rel="category tag">{{ . }}</a>
              {{end}}
              </p>
  <p class="post-date">{{ .Date.Format .Site.Params.DateForm }}</p>
</div>
<div>
          <h3 class="post-title">
              <a href="{{ .Permalink }}" rel="bookmark" title="{{ .Title }}">{{ .Title }}</a>
          </h3>
  <p class="post-description">{{ .Description }}</p>
</div>
